---
title: "GitLab Code Contributor: Luke Picciau"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
image_title: '/images/blogimages/contributors-cover.png'
description: "New contributor Luke Picciau shares why he started contributing to GitLab."
tags: community, collaboration, open source
ee_cta: false
---

For this month's blog post, we're featuring a new contributor [Luke Picciau](https://gitlab.com/Qwertie), who started contributing to GitLab a few months ago.

### When did you first contribute to GitLab?
My first contribution was in July 2018, with my MR to [add a button for regenerating 2FA codes](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/20295).

### Why and how did you decide to contribute to GitLab?
I have been using GitLab pretty heavily since 2014. I decided to start contributing in order to practice developing features on a large project. Because I am very familiar with features of GitLab from the user perspective, navigating the code was easy and I was able to start adding new features quickly.

### Which area(s) of the GitLab product are you interested in contributing to?
I’d love to look into the new [Web IDE](https://docs.gitlab.com/ee/user/project/web_ide/) and see what improvements could be made, as I see this as a useful tool. Personally, I’d like to use it to write posts for my static site and see the compiled result in my browser as well.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

### Can you tell us what you do professionally (or academically if you're going to school)?
I am a full stack web developer. I primarily use Rails and VueJS. Currently I am also studying for a Bachelor of Information Technology at the University of South Australia. I’m also building an open source website for fitness tracking and analytics of GPS recordings. It’s not quite ready to use yet, but I am pushing regular updates to [the repo](https://gitlab.com/pikatrack/pikatrack).

### What do you like to do when you're not working or studying?
I’ll often be helping open source projects such as mapping the local area on [Open Street Map](https://www.openstreetmap.org). I also love to go down to the mountain bike parks around Adelaide.

### Can you tell us where you live and what you like about your area?
I live in [Adelaide, South Australia](https://www.google.com/maps/place/Adelaide+SA,+Australia/@-35.0278392,134.1260638,6z/). My favorite thing about the area is living close to so many national parks and amazing mountain bike trails which give endless exploration possibilities.

![Luke on his mountain bike](/images/blogimages/Luke_Picciau_mountain_biking_new.jpg){: .shadow.small.center}

### What advice do you have for others who may be interested in contributing to GitLab?
One of the things I find most useful is using an IDE or text editor with “go to definition” support. This allows you to click on function and class names and be taken to the place where they are defined. This, in my opinion, is an essential feature for working on a codebase as large as GitLab, especially in a language like Ruby, where it can be difficult to work out where things have been imported from. I personally use [RubyMine](https://www.jetbrains.com/ruby/), but I have been told [Vim](https://www.vim.org/) can also be set up with good Ruby support. Another tip I have is if you get part way through making a change and get stuck on something or need advice on what should be done, commit the changes and [create a merge request](https://docs.gitlab.com/ee/gitlab-basics/add-merge-request.html#doc-nav) with what you have done and any questions you have. Someone should reply to the merge request to help you get the changes finished and ready for merge.

## Interested in learning how you can contribute?

A good place to start is the [Contributing to GitLab page](/contributing/), where you can learn how you can contribute to GitLab code, documentation, translation, and UX design.

If you have any questions, you are always welcome to reach me at rpaik@gitlab.com.

Note: This post is part of a series featuring people who contribute to GitLab. Read the [September Code Contributor post](/2018/09/06/contributor-post-jacopo/) and [August Code Contributor post](/2018/08/08/contributor-post-vitaliy/).
